body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: hsl(210, 46%, 95%);
    
}

.container{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

/* CARD */


.card{
    width: 728px;
    height: 280px;
    display: grid;
    grid-template-columns: 39% 1fr;
    box-shadow: 4px 21px 33px -8px rgba(0,0,0,0.11);
    margin-top: 20px;
}

@media screen and (max-width: 920px){

    .card{
        width: 328px;
        height: 495px;
        grid-template-columns: unset;
        grid-template-rows: 203px 1fr;
    }

}

.card-img-container{
    overflow: hidden;
    position: relative;
    border-radius: 10px 0 0 10px;
}

.card-img-container .card-img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url('../images/drawers.jpg');
    filter: brightness(105%);
    transition: all .30s ease-in-out;
}

.card-img-container .card-img:hover{
    filter: brightness(110%);
    transform: scale(1.05);
}

@media screen and (max-width:920px){
    .card-img-container{
        border-radius: 10px 10px 0 0;
    }
}

.card-body{
    font-family: 'Manrope', sans-serif;
    padding: 35px 40px;
    background-color: #ffffff;
    color: hsl(214, 17%, 51%);
    border-radius: 0 10px 10px 0 ;
    position: relative;
}


.card .card-body a .card-title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: hsl(217, 19%, 35%);
}

@media screen and (max-width:920px){
    .card-body{
        padding: 35px;
        padding-bottom: 0px;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
    }

    .card .card-body a .card-title{
        font-size: 16px;
    }
}

.card .card-body a{
    text-decoration: none;
}

.card .card-body .card-content {
    margin: 15px 0 20px 0;

}

.card .card-body p {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}


.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer-meta{
    display: flex;
}

.card-body .card-footer-meta .card-writer{
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.card-body .card-footer-meta .card-date{
    color: hsl(212, 23%, 69%);
}

.card-footer-meta p{
    margin: 0;
}   

.card-avatar{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 15px;
    filter: brightness(105%);
}

.card-footer .card-share-button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    position: relative;
    cursor: pointer;
    transition: all .30s ease-in-out;
}

.card-footer .card-share-button:hover{
    background-color: hsl(214, 17%, 51%);
}
.card-footer .card-share-button:hover .card-share-icon{
    fill: #fff;
}

.card-footer .card-share-button.active {
    background-color: hsl(214, 17%, 51%);
}
.card-footer .card-share-button.active .card-share-icon {
    fill: #fff;
}

.card-footer .card-share-button .card-share-icon{
    height: 13px;
    width: 15px;
    margin: auto auto;
    position: absolute;
    left: 10px;
    top: 8px;
    user-select: none;
    fill: hsl(217, 19%, 35%);
}

.card-share-globe{
    width: 250px;
    height: 55px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 0 35px 0 35px ;
    display: flex;
    align-items: center;
    
    
}

.card-share-triangle{
    width: 0px;
    height: 0px;
    border-top: 14px solid hsl(217, 19%, 35%);
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
}

.card-share-active{
    position: absolute;
    top: 138px;
    left: 332px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    cursor: default;
    transition: all .20s ease-in-out;
    user-select: none;
}

@media screen and (max-width:920px){

    .card-share-button.active{
        z-index: 2;
    }

    .card-share-active{
        left: 0;
        top: 225px;
    }

    .card-share-globe{
        width: 328px;
        height: 70px;
        border-radius: unset;
    }

    .card-share-triangle{
        display: none;
    }
}

.card-share-globe .card-share-text p{
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    color: hsl(212, 23%, 69%);
    margin-right: 22px;
}

.card-share-active-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}   

.card-share-active-content .card-share-social-icon{
    width: 20px;
}

.card-share-active-content a{
  display: block;
}

.twitter-share-button{
    margin-right: 12px;
    margin-left: 17px;
}

.card-share-active-content:nth-last-child(){
    margin-right: 0;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}


/* FOOTER (ATRIBUTIONS) */
footer{
    margin-bottom: 10px;
    margin-top: 20px;
    align-self: flex-end;
}